html { 
  background: url(../images/img2.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  color: white;
  text-align: center;
  text-decoration: none;
  text-indent: 1rem;
  font-weight: bold;